<div class="container container-fluid home">
  <div class="row">
    <div class="text-window col-md-6">
      <div class="heading">
        <h1>Peyote Personal</h1>

        <h2>Turn any picture into a DIY peyote stitch bracelet</h2>
      </div>

      <div class="description">
        <h3>Why us?</h3>

        <ul style="list-style-type:none">
          <li><span style="font-weight:bold">It's easy.</span> We give you the option to receive the beads you will need with your kit or to buy them on your own. If you opt not to get the beads from us, we will provide you with the exact delica bead colors we recommend for your bracelet.</li>

          <li><span style="font-weight:bold">It's fun.</span> The project provides hours of entertainment, and when complete, you will have a one of a kind art piece that you can wear. They also make great presents!</li>
        </ul>
      </div>

      <finalize button-text="Create a Template"></finalize>
    </div>

    <div class="preview-carousel col-md-6">
      <picture-carousel pic-path="images/previews" 
                        pic-prefix="prev" 
                        pic-count="3" 
                        pic-file-type="png"
                        pic-interval-seconds="5">
      </picture-carousel>
    </div>
  </div>
</div>