<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ctrl.currentPage.title}}</h3>
</div>

<div ng-show="ctrl.currentPage.id === 'uploadImage'">
	<div class="modal-body">
		<div class="row upload-image">
		  	<div class="col-md-12">
		  		<file-upload label="'Upload Image'" on-upload="ctrl.onFile"></file-upload>
		  	</div>
		</div>
	</div>

	<div class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="ctrl.goToNextPage()" ng-disabled="!ctrl.imageUploaded()">Next</button>
	</div>
</div>

<div ng-show="ctrl.currentPage.id === 'cropImage'">
	<div class="modal-body">
		<div class="row crop-image">
			<div class="col-md-12">
				<peyote-crop blob="ctrl.blob"
							 bead-height="ctrl.selectedHeight"
							 bead-width="ctrl.selectedWidth"
							 get-cropped-data="ctrl.getCroppedData"
							 color-count="ctrl.colorCount">
				</peyote-crop>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ctrl.goToPreviousPage()">Back</button>
	    <button class="btn btn-primary" type="button" ng-click="ctrl.cropAndContinue()" ng-disabled="!ctrl.colorCount">
	    	{{!ctrl.colorCount ? 'Select Bead Color Count' : 'Crop and Continue'}}
	    </button>
	</div>
</div>

<div ng-show="ctrl.currentPage.id === 'reviewOrder'">
	<div class="modal-body">
		<div class="row review-order">
			<div class="col-md-offset-1 col-md-8">
				<order-review color-count="ctrl.colorCount"
							  bead-height="ctrl.selectedHeight"
							  bead-width="ctrl.selectedWidth"
							  end-clasps="ctrl.endClasps">
				</order-review>
			</div>

			<div class="col-md-3 preview-container">
				<pixelizer pixelize-id="{{ctrl.orderReviewPixelizerId}}" height="650" width="{{ctrl.previewWidth}}">
				</pixelizer>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ctrl.goToPreviousPage()">Back</button>
	    <button class="btn btn-primary" type="button" ng-click="ctrl.goToNextPage()">Checkout</button>
	</div>
</div>

<div ng-if="ctrl.currentPage.id === 'addPayment'">
	<div class="modal-body">
		<div class="row add-payment">
		  	<div class="col-md-12">
		  		<make-payment></make-payment>
		  	</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ctrl.goToPreviousPage()">Back</button>
	    <button class="btn btn-primary" type="button" ng-click="ctrl.goToNextPage()" ng-disabled="!ctrl.paymentAdded">Review Order</button>
	</div>
</div>