.finalize-modal .img-container {
  height: 374px;
  width: 100%;
}

.finalize-modal .cropper-container {
  width: 100%;
}

.finalize-modal .upload-image input[type=file] {
  height: 350px;
  background: white url("../../images/choose_file.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.finalize-modal .preview-container {
    text-align: center;
}

.finalize-modal .preview-container img,
.finalize-modal .preview-container .pixelizer canvas {
    height: 650px;
}

/*.finalize-modal .preview-container .pixelizer canvas {
    width: 150px;
}*/

/*.finalize-modal .modal-lg {
    width: 90%;
}*/