<div class="modal-header">
    <h3 class="modal-title" id="modal-title">{{ctrl.modalPages[ctrl.currentPage].title}}</h3>
</div>

<div ng-show="ctrl.currentPage === 'uploadImage'">
	<div class="modal-body">
		<div class="row upload-image">
		  	<div class="col-md-12">
		  		<file-upload label="'Upload Image'" on-upload="ctrl.onFile"></file-upload>
		  	</div>
		</div>
	</div>

	<div class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="ctrl.currentPage = 'cropImage'" ng-disabled="!ctrl.canContinue()">Next</button>
	</div>
</div>

<div ng-show="ctrl.currentPage === 'cropImage'">
	<div class="modal-body">
		<div class="row crop-image">
			<div class="col-md-12">
				<peyote-crop blob="ctrl.blob" bead-height="ctrl.selectedHeight" bead-width="ctrl.selectedWidth" cropped-image="ctrl.cropData"></peyote-crop>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ctrl.currentPage = 'uploadImage'">Back</button>
	    <button class="btn btn-primary" type="button" ng-click="ctrl.cropAndContinue()">Crop and Continue</button>
	</div>
</div>

<div ng-if="ctrl.currentPage === 'addPayment'">
	<div class="modal-body">
		<div class="row add-payment">
		  	<div class="col-md-12">
		  		<make-payment></make-payment>
		  	</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ctrl.currentPage = 'cropImage'">Back</button>
	    <button class="btn btn-primary" type="button" ng-click="ctrl.currentPage = 'reviewOrder'" ng-disabled="!ctrl.paymentAdded">Review Order</button>
	</div>
</div>