.file-upload .file-input input[type=file] {
  height: 200px;
  background: white url("../images/choose_file.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
}

.file-upload .link-input {
  height: 90px;
}