<div id="make-payment-page" class="col-md-12">
	<div class="row panel panel-warning">
		<div class="panel-body">
			<h3 class="col-md-12" style="text-align: center">
				<strong>
					<span style="font-style: italic">Total price: </span>
					<span class="text-danger">{{ctrl.totalPrice | currency:'$':2}}</span>
				</strong>
			</h3>
		</div>
	</div>


	<div class="row" ng-if="ctrl.errorAlert">
		<div class="alert alert-danger alert-dismissible col-md-12" role="alert">
		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close" ng-click="ctrl.errorAlert = undefined;"><span aria-hidden="true">&times;</span></button>
		  	<strong>{{ctrl.errorAlert.message}}</strong> Make sure the information provided is correct, and try again.
		</div>
	</div>

	<div class="row make-payment">
		<div class="col-md-6">
			<legend>Payment Info</legend>

			<div class="well">
				<form name="ctrl.paymentForm" class="stripe-payment" novalidate>
					<div class="row">
						<div class="form-group col-md-12">
							<label>Name On Card</label>
							<input name="cardName"
								   type="text"
								   ng-model="ctrl.card.name"
								   class="form-control"
								   ng-required="true">
						</div>

						<div class="form-group col-md-9" ng-class="ctrl.inputClass('cardNumber')">
							<label>Card Number</label>
							<div class="input-group">
								<span class="input-group-addon brand" id="credit-card-type">
									<i class="pf" id="brand-icon" ng-class="ctrl.getPfClass(ctrl.paymentForm.cardNumber.$ccEagerType)"></i>
								</span>
								<input cc-number cc-eager-type cc-format cc-type="ctrl.paymentForm.cardNumber.$ccEagerType"
									   type="text"
									   name="cardNumber"
									   ng-model="ctrl.card.number"
									   ng-model-options="{allowInvalid: true}"
									   class="form-control"
									   ng-required="true"
									   ng-change="ctrl.updateFunctions.cardNumber()">
							</div>
						</div>

						<div class="form-group col-md-3" ng-class="ctrl.inputClass('cardCvc')">
							<label>CVC</label>
							<input cc-cvc cc-format cc-type="ctrl.paymentForm.cardNumber.$ccEagerType"
								   name="cardCvc"
								   type="text"
								   ng-model="ctrl.card.cvc"
								   ng-model-options="{allowInvalid: true}"
								   class="form-control"
								   ng-required="true"
								   ng-change="ctrl.updateFunctions.cardCvc()">
						</div>

						<div class="form-group col-md-6" cc-exp>
							<label>Expiration Date</label>
							<div class="row">
								<div class="col-md-5">
									<input cc-exp-month cc-format
										   type="text"
										   placeholder="MM"
									       name="cardExpMonth"
										   ng-model="ctrl.card.exp_month"
										   ng-model-options="{allowInvalid: true}"
										   class="form-control"
										   ng-required="true"
										   ng-keyup="ctrl.updateFunctions.cardExpMonth($event)">
								</div>

								<div class="col-md-5">
									<input cc-exp-year cc-format
										   type="text"
										   placeholder="YY"
										   name="cardExpYear"
										   ng-model="ctrl.card.exp_year"
										   class="form-control"
										   ng-required="true"
										   ng-keyup="ctrl.updateFunctions.cardExpYear($event)">
								</div>
							</div>
						</div>

						<div class="form-group col-md-6">
							<label>Zip Code</label>
							<input name="cardAddressZip"
								   type="text"
								   ng-model="ctrl.card.address_zip"
								   ng-pattern="/\d{5}(?:[-\s]\d{4})?/"
								   maxlength="{{ctrl.zipLength}}"
								   class="form-control"
								   ng-required="true">
						</div>
					</div>
				</form>
			</div>
		</div>

		<form name="ctrl.cardholderInfo" class="col-md-6">
			<fieldset>
				<legend>Send To</legend>

				<div class="row">
					<div class="form-group col-md-12">
						<label for="email">E-mail</label>
						<input id="email" 
							   name="email" 
							   type="email" 
							   placeholder="E-mail" 
							   class="form-control" 
							   ng-model="ctrl.email" 
							   required>
					</div>

					<div class="form-group col-md-12" ng-class="{'has-error': ctrl.error.type === 'emailMatch'}">
						<label for="email-confirm">Confirm E-mail</label>
						<input id="email-confirm" 
							   name="emailConfirm" 
							   type="email" 
							   placeholder="Confirm E-mail" 
							   class="form-control" 
							   ng-model="ctrl.emailConfirm" 
							   ng-change="ctrl.error = {};" 
							   required>
						<span ng-if="ctrl.error.type === 'emailMatch'" id="email-confirm-message" class="help-block">{{ctrl.error.message}}</span>
					</div>
				</div>

				<div ng-if="ctrl.mustShip()">
					<legend>Shipping Address</legend>

					<div class="form-group row">
						<label class="col-md-2 control-label" for="textinput">Line 1</label>
						<div class="col-md-10">
						  	<input type="text" placeholder="Address Line 1" class="form-control">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-md-2 control-label" for="textinput">Line 2</label>
						<div class="col-md-10">
						  	<input type="text" placeholder="Address Line 2" class="form-control">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-md-2 control-label" for="textinput">City</label>
						<div class="col-md-10">
						  	<input type="text" placeholder="City" class="form-control">
						</div>
					</div>

					<div class="form-group row">
						<label class="col-md-2 control-label" for="textinput">Country</label>
						<div class="col-md-10">
						  	<input type="text" placeholder="Country" class="form-control">
						</div>
					</div>
		        </div>
		    </fieldset>
    	</form>
	</div>
</div>
