<form class="form-horizontal make-payment">
	<div class="col-md-6 well">
		<fieldset>
			<legend>Billing Address</legend>

			<div class="form-group">
				<label class="col-sm-2 control-label" for="textinput">Line 1</label>
				<div class="col-sm-10">
				  	<input type="text" placeholder="Address Line 1" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label" for="textinput">Line 2</label>
				<div class="col-sm-10">
				  	<input type="text" placeholder="Address Line 2" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label" for="textinput">City</label>
				<div class="col-sm-10">
				  	<input type="text" placeholder="City" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label" for="textinput">State</label>
				<div class="col-sm-3">
				  	<input type="text" placeholder="State" class="form-control">
				</div>

				<label class="col-sm-2 control-label" for="textinput">Postcode</label>
				<div class="col-sm-5">
				  	<input type="text" placeholder="Post Code" class="form-control">
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label" for="textinput">Country</label>
				<div class="col-sm-10">
				  	<input type="text" placeholder="Country" class="form-control">
				</div>
			</div>
        </fieldset>
	</div>

	<div class="col-md-6">
		<fieldset>
			<legend>Payment Info</legend>

			<div class="form-group col-md-12">
				<label for="cardholder-name">Name On Card</label>
				<input id="cardholder-name" name="cardholder-name" class="field form-control" placeholder="Jane Doe"/>
			</div>

<!-- 			<div class="form-group col-md-12">
				<label for="card-number">Card Info</label>
				<div id="card-number" class="field"></div>
			</div> -->

			<div class="form-group col-md-12">
				<label for="card-number">Card Number</label>
				<div id="card-number" class="field"></div>
			</div>

			<div class="form-group col-md-6">
				<label for="card-expiry">Expiration Date</label>
				<div id="card-expiry" class="field"></div>
			</div>

			<div class="form-group col-md-6">
				<label for="card-cvc">CVC</label>
				<div id="card-cvc" class="field"></div>
			</div>
		</fieldset>
	</div>

	<button type="submit" class="btn btn-default" ng-click="ctrl.createToken()">Pay $25</button>

	<div class="outcome">
		<div class="error" role="alert"></div>
		<div class="success">
			Success! Your Stripe token is <span class="token"></span>
		</div>
	</div>
</form>