doctype html

html(lang="en", ng-app="app", class="no-js")
  head
    title= title
    link(rel='stylesheet', href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/_bower.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
  body
    block content

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="/javascripts/_bower.js")
    script(src="/javascripts/app.min.js")
    script(src="/javascripts/templates.js")