<div class="col-md-12">
    <p>
        A preview of the template is shown on the right. This is NOT the actual template but rather an approximation of what the template will look like after it's created. 
    </p>
</div>

<div class="well col-md-12">
    <div class="text-center">
        <h1>Finalize Order</h1>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th></th>
                <th>Product</th>
                <th class="text-center">#</th>
                <th class="text-center">Price</th>
                <th class="text-center">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="col-md-1 text-center"></td>
                <td class="col-md-7"><em> Peyote Stitch Template ({{ctrl.templateSize.beads.display}}) </em></td>
                <td class="col-md-2" style="text-align: center"> 1 </td>
                <td class="col-md-1 text-center"> {{ctrl.templatePrice | currency:'$':2}} </td>
                <td class="col-md-1 text-center"> {{ctrl.templatePrice | currency:'$':2}} </td>
            </tr>

            <tr>
                <td class="col-md-1 text-center">
                    <input type="checkbox" 
                           ng-model="ctrl.includeBeads" 
                           ng-change="ctrl.updateFinalPrice()">
                </td>
                <td class="col-md-7"><em>Include Beads With Purchase</em></td>
                <td class="col-md-2" style="text-align: center"> -- </td>
                <td class="col-md-1 text-center"> -- </td>
                <td class="col-md-1 text-center"> -- </td>
            </tr>

            <tr class="collapsable-row" uib-collapse="!ctrl.includeBeads">
                <td class="col-md-1 text-center"></td>
                <td class="col-md-7"><em> • Size ({{ctrl.templateSize.inches.display}}) </em></td>
                <td class="col-md-2" style="text-align: center"> {{ctrl.templateSize.inches.value}} in.<sup>2</sup> </td>
                <td class="col-md-1 text-center"> {{ctrl.pricePerSquareInch | currency:'$':2}} </td>
                <td class="col-md-1 text-center"> {{ctrl.templateSize.inches.value * ctrl.pricePerSquareInch | currency:'$':2}} </td>
            </tr>

            <tr class="collapsable-row" uib-collapse="!ctrl.includeBeads">
                <td class="col-md-1 text-center"></td>
                <td class="col-md-7"><em> • Extra colors (colors over 12)</em></td>
                <td class="col-md-2" style="text-align: center"> {{ctrl.colorCount - 12}} </td>
                <td class="col-md-1 text-center"> {{ctrl.pricePerColor | currency:'$':2}} </td>
                <td class="col-md-1 text-center"> {{(ctrl.colorCount - 12) * ctrl.pricePerColor | currency:'$':2}} </td>
            </tr>

            <tr>
                <td class="col-md-1 text-center">
                    <input type="checkbox" 
                           ng-model="ctrl.includeClasps" 
                           ng-change="ctrl.updateFinalPrice()">
                </td>
                <td class="col-md-7"><em>Include Clasps</em></td>
                <td class="col-md-2" style="text-align: center"> {{ctrl.includeClasps ? '1' : '0'}} </td>
                <td class="col-md-1 text-center"> {{ctrl.priceForClasps | currency:'$':2}} </td>
                <td class="col-md-1 text-center"> {{ctrl.priceForClasps * (ctrl.includeClasps ? 1 : 0) | currency:'$':2}} </td>
            </tr>

            <tr>
                <td>   </td>
                <td>   </td>
                <td>   </td>
                <td class="text-right">
                    <p><strong>Subtotal: </strong></p>
                    <p><strong>Tax: </strong></p>
                    <p ng-if="ctrl.mustShip()"><strong>Shipping: </strong></p>
                </td>
                <td class="text-center">
                    <p><strong> {{ctrl.subtotal | currency:'$':2}} </strong></p>
                    <p><strong> {{ctrl.subtotal * ctrl.salesTax | currency:'$':2}} </strong></p>
                    <p ng-if="ctrl.mustShip()"><strong>{{ctrl.priceToShip | currency:'$':2}}</strong></p>
                </td>
            </tr>
            <tr>
                <td>   </td>
                <td>   </td>
                <td>   </td>
                <td class="text-right"><h4><strong>Total: </strong></h4></td>
                <td class="text-center text-danger"><h4><strong> {{ctrl.finalPrice | currency:'$':2}}</strong></h4></td>
            </tr>
        </tbody>
    </table>
</div>
