<div class="modal-header">
	<a class="pull-right" ng-click="ctrl.close()"><span class="glyphicon glyphicon-remove"></span></a>
    <h3 class="modal-title" id="modal-title">{{ctrl.currentPage.title}}</h3>
</div>

<div ng-show="ctrl.currentPage.id === 'uploadImage'">
	<div class="modal-body">
		<div class="row upload-image">
		  	<div class="col-md-12">
		  		<file-upload label="'Upload Image'" on-upload="ctrl.onFile"></file-upload>
		  	</div>
		</div>
	</div>

	<div class="modal-footer">
	    <button class="btn btn-primary" type="button" ng-click="ctrl.goToNextPage()" ng-disabled="!ctrl.imageUploaded()">Next</button>
	</div>
</div>

<div ng-show="ctrl.currentPage.id === 'cropImage'">
	<div class="modal-body">
		<div class="row crop-image">
			<div class="col-md-12">
				<peyote-crop blob="ctrl.blob"
							 bead-height="ctrl.selectedHeight"
							 bead-width="ctrl.selectedWidth"
							 get-cropped-data="ctrl.getCroppedData"
							 color-count="ctrl.colorCount">
				</peyote-crop>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ctrl.goToPreviousPage()">Back</button>
	    <button class="btn btn-primary" type="button" ng-click="ctrl.cropAndContinue()" ng-disabled="!ctrl.colorCount">
	    	{{!ctrl.colorCount ? 'Select Bead Color Count' : 'Crop and Continue'}}
	    </button>
	</div>
</div>

<div ng-show="ctrl.currentPage.id === 'reviewOrder'">
	<div class="modal-body">
		<div class="row review-order">
			<div class="col-md-9">
				<order-review bead-height="ctrl.selectedHeight"
							  bead-width="ctrl.selectedWidth"
							  color-count="ctrl.colorCount"
							  final-price="ctrl.finalPrice"
							  include-beads="ctrl.includeBeads"
							  include-clasps="ctrl.includeClasps"
							  must-ship="ctrl.mustShip">
				</order-review>
			</div>

			<div class="col-md-3">
				<pixelizer pixelize-id="{{ctrl.orderReviewPixelizerId}}" pixelizer-height="650" pixelizer-width="ctrl.previewWidth">
				</pixelizer>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ctrl.goToPreviousPage()">Back</button>
	    <button class="btn btn-primary" type="button" ng-click="ctrl.goToNextPage()">Checkout</button>
	</div>
</div>

<div ng-if="ctrl.currentPage.id === 'addPayment'">
	<div class="modal-body">
		<div class="row add-payment">
		  	<div class="col-md-12">
		  		<make-payment must-ship="ctrl.mustShip()"
		  					  total-price="ctrl.finalPrice"
		  					  stripe-charge="ctrl.checkout">
		  		</make-payment>
		  	</div>
		</div>
	</div>

	<div class="modal-footer">
		<button class="btn btn-primary" type="button" ng-click="ctrl.goToPreviousPage()">Back</button>
	    <button class="btn btn-primary" type="button" ng-click="ctrl.payAndContinue()" ng-disabled="!ctrl.canContinueWithPayment">Review Order</button>
	</div>
</div>