.finalize-modal .img-container {
  height: 374px;
  width: 100%;
}

.finalize-modal .cropper-container {
  width: 100%;
}

.finalize-modal .preview-container {
    text-align: center;
}

.finalize-modal .preview-container img,
.finalize-modal .preview-container .pixelizer canvas {
    height: 650px;
}

/*.finalize-modal .modal-lg {
    width: 90%;
}*/