<p>This is the partial for view 1.</p>

<!-- <input type="file" onchange="angular.element(this).scope().onFile(this.files[0])"> -->
<!-- <input type="file" ng-model="ctrl.files" ng-change="ctrl.onFile(this.files[0])"> -->
<file-upload on-upload="ctrl.onFile"></file-upload>

<div class="row">
	<div class="col-md-3 img-container">
		<img ng-cropper
		     ng-cropper-proxy="ctrl.cropperProxy"
		     ng-cropper-show="ctrl.showEvent"
		     ng-cropper-hide="ctrl.hideEvent"
		     ng-cropper-options="ctrl.options">
	</div>

	<div class="col-md-6">
		<select class="row" ng-model="ctrl.selectedSize"
			ng-options="option.value as option.description for option in ctrl.sizeOptions"
			ng-change="ctrl.selectSize()"></select>
		<div class="row">
			<button class="btn btn-sm" ng-click="ctrl.preview()">Show preview</button>
			<button class="btn btn-sm" ng-click="ctrl.scale(200)">Scale to 200px width</button>
			<button class="btn btn-sm" ng-click="ctrl.clear()">Clear selection</button>
			<label class="btn btn-sm" >Disabled <input type="checkbox" ng-model="ctrl.options.disabled"></label>
		</div>
	</div>
</div>


<img ng-if="ctrl.preview.dataUrl" ng-src="{{ctrl.preview.dataUrl}}">